<!DOCTYPE html>
<html>
    <head>
        <title>Event lists</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td><a href="{% url 'event_detail' event.id %}">{{ event.name }}</a></td>
                    <td>{{ event.date }}</td>
                    <td>{{ event.location }}</td>
                    <td><a href="{% url 'event_delete' event.id %}">Delete</a></td>
                    <td><a href="{% url 'event_update' event.id %}">Update</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'add_event' %}">Add Event</a>
    </body>
</html>